@namespace svg "http://www.w3.org/2000/svg";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
  background: url('world_bg.png') top center no-repeat;
  opacity: 1;
  margin: 60px auto;
  display: block;
}

.hide-me-from-older-browsers {
  display: none;
  visibility: hidden;
}

svg|g.hide-me-from-older-browsers {
  display: inline;
  visibility: visible;
}

.hidden {
  opacity: 0 !important;
}

.fade {
  transition: opacity 0.6s ease-in;
}


.transform-transition {
  transition: transform 0.2s ease-out;
}


/******************************************************************************
 * Table styles
 *****************************************************************************/

.together {
  background-color: #c6f9c6;
}
table {
  text-align:center;
  table-layout: fixed;
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 60px auto;
}
td {
  border: 2px solid white;
  padding: 4px;
}

/******************************************************************************
 * Controls container
 *****************************************************************************/
.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

/******************************************************************************
 * Indicator and range styles
 *****************************************************************************/
.range-input {
  padding: 5px 15px 10px 10px;
}
input[type=range] {
  width: 100%;
}

#day-indicator {
  display: block;
  position: absolute;
  top: 25px;
}
