@namespace svg "http://www.w3.org/2000/svg";

svg {
  background: url('world_bg.png') top center no-repeat;
}

.hide-me-from-older-browsers {
  display: none;
  visibility: hidden;
}

svg|g.hide-me-from-older-browsers {
  display: inline;
  visibility: visible;
}
