@namespace svg "http://www.w3.org/2000/svg";

.map {
  background: url('world_bg.png') top center no-repeat;
  opacity: 1;
}

.hide-me-from-older-browsers {
  display: none;
  visibility: hidden;
}

svg|g.hide-me-from-older-browsers {
  display: inline;
  visibility: visible;
}

.hidden {
  opacity: 0 !important;
}

.fade {
  transition: opacity 0.6s ease-in;
}

/******************************************************************************
 * Table styles
 *****************************************************************************/

.together {
  background-color: #c6f9c6;
}
table {
  text-align:center;
  table-layout: fixed;
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 50px auto;
}
td {
  border: 2px solid white;
  padding: 4px;
}

/******************************************************************************
 * Controls container
 *****************************************************************************/
.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px #888;
  opacity: 1;
}

/******************************************************************************
 * Range styles
 *****************************************************************************/
.range-input {
  padding: 5px 15px 10px 10px;
}
input[type=range] {
  width: 100%;
}